<style>
.topnav {
    background-color: #000000;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffd699;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  bordor: 0;
  font-family: 'PT Sans Caption', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: black;
  color:#F5FFFA;
text-decoration:
}

/* Add a color to the active/current link */
.topnav a.active {
 <!-- background-color: #9898e6;-->
  color: #000000;
  text-decoration: underline;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

body{
	background-color: #000000;
}
.content
{
	margin: 200px;
}
	
.image {
  float: right;
    
    margin:0 0 20px 0;
    padding: 15px;
    border-radius: 50%;
  
}

.iit{
	color: 	#ffd699;
	text-align:left;
	padding : 95px;
	background-image: url("bg.jpg");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	 
}

.intro{
	color: #ffd698;
	text-align:left;
	padding : 40px;
	font-family: 'Handlee', cursive;
	font-size: 40px;
}


.club{
	color: #000000;
	text-align : center;
	margin : 5px 0 5px 0;
	padding : 5px;
	font-family: 'Orbitron', sans-serif;
	font-size: 30px;
	background-color : #f4a442;
}



.aero{
	color: #fcfefd;
	text-align:center;
	padding : 40px;
	margin : 40px;
	font-size: 20px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("gears1.jpg");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
}

.astro{
	color: #fcfefd;
	text-align:center;
	padding : 40px;
	margin : 40px;
	font-size: 20px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("gears1.jpg");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
}

.eclub{
	color: #ffd699;
	text-align:center;
	padding : 40px;
	margin : 40px;
	font-size: 20px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("gears1.png");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
}

.pclub{
	color: #ffd699;
	text-align:center;
	padding : 40px;
	margin : 40px;
	font-size: 20px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("pback1.png");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
}


.descon{
	color: #ffd699;
	text-align:center;
	padding : 40px;
	margin : 40px;
	font-size: 20px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("aeroback1.jpg");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
}

.rubik{
	color: #ffd699;
	text-align:center;
	padding : 40px;
	margin : 40px;
	font-size: 20px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("rubikback1.jpg");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
}

.sch{
	color: #ffd699;
	text-align:center;
	padding : 40px;
	margin : 40px;
	font-size: 20px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("aeroback1.jpg");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
}


.fdh{
	color: #ffd699;
	text-align:center;
	padding : 40px;
	margin : 40px;
	font-size: 20px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("businessback.jpg");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;







</style>

