.topnav {
    background-color: #000000;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffd699;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  bordor: 0;
  font-family: 'PT Sans Caption', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: black;
  color:#F5FFFA;
text-decoration:
}

/* Add a color to the active/current link */
.topnav a.active {
 <!-- background-color: #9898e6;-->
  color: #000000;
  text-decoration: underline;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
a{
text-decoration:none;
color: #fcfefd;	
}
body{
	background-color: #000000;

	
}

.background{
	
	background-image: url("../images/bg.jpg");
	
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
}

.aboutus{
	
	color: #000000;
	text-align:left;
	 font-family: 'PT Sans Caption', sans-serif;
	padding : 17px;
	Background-color : #ffd698;
}
	
.content
{
	
	margin: 20px;
	
}
	
.column {
    float: left;
    width: 32%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.columnb {
    float: left;
    width: 48%;
    margin-bottom: 16px;
    padding: 0 8px;
}


.columnbb {
    float: left;
    width: 32%;
    margin-bottom: 10px;
    padding: 0 px;
}


/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
	.columnb {
        width: 100%;
        display: block;
    }
.columnbb {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
border: 1px solid #ffd699;
	
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}


.bound{
	outline: #ffd699 solid 10px;
}
img {
   
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */



    
    border-radius: 15px;
    padding: 10px;
    width: 150px;
	margin: 5px;
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


.image {
  float: right;
     opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    margin:0 0 20px 0;
    padding: 15px;
    border-radius: 50%;
  
}

.iit{
	color: 	#ffd699;
	text-align:left;
	padding : 70px;
	margin : 40px ;
	
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	 
}

.intro{
	color: #ffd698;
	text-align:left;
	margin : 5px 0 5px 0;
	padding : 5px;
	font-family: 'Handlee', cursive;
	font-size: 18px;
}


.club{
	color: white;
	text-align : center;
	margin : 5px 0 5px 0;
	padding : 5px;
	font-family: 'Orbitron', sans-serif;
	font-size: 10px;
	background-color : #000000;
}



.aero {
	color: #fcfefd;
	text-align:center;
	padding : 40px;
	margin : 40px;
	font-size: 15px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("../images/aeroback1.jpg");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	border: 1px solid #ffd699;
	
	
	
}


#hover-content {
    display:none;
	
	
}
#parent:hover #hover-content {
    display:block;
}

.astro{
	
	color: #fcfefd;
	text-align:center;
	padding: 5px;
	margin: 40px;
	font-size: 15px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("../images/astroback1.jpg");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	border: 1px solid #ffd699;
}

.eclub{
	
	color: #ffd699;
	text-align:center;
	padding : 5px;
	margin : 40px;
	font-size: 15px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("../images/eback.png");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
border: 1px solid #ffd699;
}

.pclub{
	
	color: #ffd699;
	text-align:center;
	padding : 5px;
	margin : 40px;
	font-size: 15px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("../images/pback1.png");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	border: 1px solid #ffd699;
}

.descon{
	
	color: #ffd699;
	text-align:center;
	padding : 5px;
	margin : 40px;
	font-size: 15px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("../images/pinion.png");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	border: 1px solid #ffd699;
}

.rubik{
	
	color: #ffd699;
	text-align:center;
	padding : 5px;
	margin : 40px;
	font-size: 15px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("../images/pinion.jpg");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	border: 1px solid #ffd699;
}


.AR{
	color: #ffd699;
	text-align:center;
	padding : 5px;
	margin : 40px;
	font-size: 15px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("../images/shafts.jpg");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	border: 1px solid #ffd699;
}

.auv{
	color: #ffd699;
	text-align:center;
	padding : 5px;
	margin : 40px;
	font-size: 15px;
	font-family: 'Varela Round', sans-serif;
	background-image: url("../images/shafts.jpg");
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	border: 1px solid #ffd699;
}

.bottom{
	color: 	#ffd699;
	text-align:left;
	padding :30px;
	Margin-top:275px; 
}
.contact{
	
	color: #ffd699;
	
	font-family:Arial;
	padding : 40px;
}

.gs{color: #ffd698;
	text-align:left;
	padding : 20px;
	margin : 100px 3px 0 2px;
	font-family : Arial;
	font-size: 40px;
  }


.newsfeed{
	color: 	white;
	text-align:center;
	padding :25px; 
	margin:2px;
	background-color:#36454f ;
	font-family: 'Varela Round', sans-serif;
	font-size: 25px;
	box-sizing: border-box;
    	width: 550px;
    	height: 405px;
	padding: 30px;    
	border:2px solid black;
}
	 
.thought{
	color: 	white;
	text-align:left;
	padding :5px; 
	margin:2px;
	background-color:black;
	font-family: 'Handlee', cursive;
	font-size: 25px;
}

.quicklinks{
	color: 	white;
	text-align:left;
	
	margin:40px;
	font-family:  'Noto Serif KR', sans-serif;
	font-size: 30px;
}
.headlines{
	color:#ffd699;
	background: #000000;
	text-align:center;
	
	font-family: 'Varela Round', sans-serif;
	font-size: 25px;
	padding :25px; 
	margin:20px;

}
